@import '../../_scss/_mixins.scss';
@import '../../_scss/_variables.scss';

.sketch-view {
  justify-content: center;
  display: flex;
  flex-direction: column;
  
}

.sketch-and-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.signature {
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.arrow {
  height: 2em;
  margin: 5em;
}