@import '../../_scss/_mixins.scss';
@import '../../_scss/_variables.scss';

.sketch-view {
  justify-content: center;
  display: flex;
  flex-direction: column;
  
}

.sketch-and-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.meta-data {
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Orbitron';
  font-size: larger
}

.arrow {
  height: 2em;
  margin: 5em;
}